* {
    box-sizing: border-box;
    margin: 20px 40px;
    overflow-x: hidden;
  }

 body {
    background-position: fixed;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    height: 100%;
    background-color: rgb(214, 198, 193);
    background-size: cover;
   background-repeat: no-repeat;
  }
  #navbar .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .title  h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    color: white;
    text-shadow: 4px 2px darkgray;
    letter-spacing: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
  }


  .title {
      height: 30vh;
        background:  rgb(214, 198, 193);
  }
  .logo-tog {
      width: 150px;
      height: auto;
  }
  nav {
      background: rgb(82, 109, 126);
      color: white;
  }
 
 #navbar nav {
     position: fixed;
     z-index:100000;
     background: rgb(82, 109, 126);
 }
 
 nav li a {
     color: white;
     font-family: 'Libre Baskerville', serif;
 }
 html {
     scroll-behavior: smooth;
 }
 
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
   
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
    .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  footer {
    background: rgba(94, 123, 138);
    position: sticky;
    text-align: center;
    color: white;
}

.foot-p {
    color: white;
}
  @media screen and (max-width: 400px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }

    .title  h2 {
        font-family: 'Libre Baskerville', serif;
        font-size: 30px;
        color: white;
        text-shadow: 4px 2px darkgray;
        letter-spacing: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 120px;
      }
  }
  