* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar .navbar-fixed-top {
   position: fixed;
   right: 0;
   left: 0;
   z-index: 1030;
 }
 
 .logo-tog {
     width: 150px;
     height: auto;
 }
 nav {
     background: rgb(82, 109, 126);
     color: white;
 }

#navbar nav {
    position: fixed;
    z-index:100000;
    background: rgb(82, 109, 126);
}

nav li a {
    color: white;
    font-family: 'Libre Baskerville', serif;
}
html {
    scroll-behavior: smooth;
}

body {
    background:rgb(245, 238, 231);
}


.height {
    height: 100vh;
}

.hiddencarousel {
    display: none;
}
.caro-bg {
    overflow: hidden;
    height: 500px;
    width: 1680px;
}
#carousel {
    height: 100vh;
    background-size: cover;
    z-index: 1;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.anina-logo {
    background: rgba(255, 255,255, 0); 
    display: block;
    color: white;
    position: absolute;
    z-index: 500;
    margin-top: 100px;
    margin-left: 270px;

}

#nav li a {
	color: black;
	font-family: 'Libre Baskerville', serif;
	margin-right: 25px;
	font-size: 24px;
	font-weight: bolder;
	color: white;
	padding-top: 15px;
}
.about {
   background: none;
}

.projects {
    height: 80vh;
}

.quote {
    height: 50vh;
}

.quote {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.quote-text {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    margin-top: 30px;
}

.pq {
    font-style: italic;
    font-size: 30px;
    font-family:'Montserrat', sans-serif; 
    color: rgba(100, 127, 136, 0.6);
    margin-top: 40px;
}

.icon-edit {
    font-size: 80px;
    color:  rgba(214, 198, 193, 0.4);
    padding-top: 60px;
    padding-bottom: 30px;
}

.blur {
    filter: blur(4px);
}
.services {
    width: 100%;
    height: 100vh;
    margin-top: 0;
    background: url(../images/marble.jpg) rgb(100, 127, 136);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
   
}

.contact {
    height: 100vh;
}

.imgp {
    height: 500px;
    width: 500px;
}

/* grid about */
.container-1 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(130px, 1fr));
    grid-template-rows: auto;
    grid-template-areas: 
        ". . . . . . . . . . . ."
        ". . h h h h h i i i . ."
        ". . h h h h h i i i . ."
        ". . p p p p p i i i . ."
        ". . p p p p p i i i . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        
}

.h21 {
    grid-area: h;
    display: flex;
    justify-content: center;
    text-align: right;
    align-items: flex-end;
    font-size: 40px;
}

.p1 {
    grid-area: p;
    display: flex;
    text-align: right;
    align-items: flex-start;
}

#make1 {
    grid-area: i;
}



/* grid projects */
 .container-2 {
     display: flex;
     flex-direction: row;
     background-position: fixed;
     justify-content: space-around;
     align-items: center;
     z-index: 1;
     height: 100%;
     background-color: rgb(214, 198, 193);
     background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
 }

 .btn-projects a {
     color: white;
     text-decoration: none;
 }

 .btn-projects a:hover {
     text-decoration: none;
     color: white;
     font-weight: bolder; 
     
 }
 .btn-projects {
        font-family: 'Montserrat', sans-serif;;
        position: absolute;
        text-decoration: none;
        z-index: 50;  
        padding: 10px 35px;
        margin-top: 30px;
        border-radius: 20px;
        border: none;
        background-color: rgb(214, 198, 193);
        font-family: "Karla", sans-serif;
        font-size: 25px;
        color: white;
    }
    
    .btn-projects:hover, {
        color: white;
        font-weight: bold;
        background-color:  rgb(82, 109, 126);
    }
    
 
   
 /* grid cards */
 .container-3 {
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(15, minimax(190px, 30vmin));
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 10px;
    grid-template-areas:
        "s s s s s s s s s s s s"
        ". . . . . . . . . . . ."
        ". . r r . c c . d d . ."
        ". . . . . . . . . . . ."
 }

 .services-h {
     padding-bottom: 60px;
    grid-area: s;
    text-align:center;

    
} 
 .residential {
     grid-area: r;
     
 }

.commercial {
    grid-area: c;
}

.design {
    grid-area: d;
}

.border {
    border: 10px solid;   
    background-color: rgb(224, 214, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    box-shadow: 5px 10px rgba(214, 198, 193, 0.5);;
}

.cardy {
    transition: transform .5s;
}

.cardy:hover {
    transform: scale(1.1);
}

.icon-cont3 {
    font-size: 50px;
    padding-bottom: 30px;
    color: rgba(116, 145, 149, 0.5);
}

.container-3 h3 {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 2px 2px rgba(51, 167, 182, 0.5);
    font-family: 'Libre Baskerville', serif;
}

.container-3 p {
    color: rgba(94, 123, 138);
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
}

.container-3 h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 80px;
    color: white;
    text-shadow: 4px 2px darkgray;
    letter-spacing: 12px;
}

/* contact */
.foot {
    background: url(../images/land5.jpg);
    
    overflow: hidden;
    background-position: cover;
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(6, (minimax 140px, 20vw));
    grid-gap: 10px;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
    ". . . . . ."
    ". t t t t ."
    ". . m f f f"
    ". . m f f f"
    ". i i . . .";
}

.icons {
    grid-area: i;
    margin-top: 0px;
    font-size: 20px;
    color: white;
    letter-spacing: 4px;
}



.fab {
    color: white;
}

.fab:hover {
    color:rgb(82, 109, 126);
}
.iframey {
    width: 600;
     height:450;
     grid-area: m;
     padding-left: 90px;
     padding-top: 40px;
     margin-top: 200px;
}

.contact-title {
    grid-area: t;
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    color: white;
    font-size: 45px;
    letter-spacing: 3px;
}

.contact-forms {
    grid-area: f;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 200px;
}

.form-input {
    width: 600px;
    padding: 15px;
    margin: 9px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
}

.btn-contact {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;  
    width: 10rem;
    margin: 5px;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(214, 198, 193);
    font-family: "Karla", sans-serif;
    font-size: 25px;
    color: white;
    align-self: flex-start;
    }
    
.btn-contact:hover {
        color: white;
        font-weight: bold;
        background:  rgb(82, 109, 126);
        font-family: 'Montserrat', sans-serif;
        border-radius: 20px;
    }

.footer {
    background: rgba(94, 123, 138);
    position: sticky;
    text-align: center;
    color: rgba(220, 223, 228, 0.808);
}



/* text css */
.title-1 {
	font-size: 48px;
	font-family: 'Libre Baskerville', serif;
    color: gray;
}

.ptext-1 {
    font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: gray;
    margin-top: 20px;
    padding-right: 20px;
}

 /* media queries*/
@media screen and (max-width: 360px) {
    html {
        width: auto;
        float: none;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    
    #carousel {
        display: none;
    }
    .about {
        width: 100vh;
        width: 100%;
        box-sizing: border-box;
    }

    .container-1 {
        grid-template-rows: repeat(4, 1fr);
        margin-top: 30px;
        grid-template-columns: repeat(4, 1fr);
        margin: 10px 10px;
        grid-template-areas: 
         "h h h h"
         "p p p p"
         "p p p p"
         "i i i i"
         "i i i i"
        ;
    }

    .h21, .p1 {
        text-align: left;
        margin: 0px 0px;
        margin-top: 23px;
    }

    .container-1 .ptext-1 {
        margin-right: 8px;
    }

    .container-1 .h21 {
        font-size: 35px;
        font-weight: bolder;
        padding-top: 16px;
    }
    .container-2 {
        flex-direction: column;
        overflow: hidden;
    }

    #make1 {
        display: none;
    }
    .projects {
        height: 100%;
    }

    .quote {
        height: 40vh;
    }

    .quote-text {
        font-size: 26px;
        margin: 0 17px;
        text-align: center;
    }
    .icon-edit{
        font-size: 30px;
        margin-bottom: 4px;
        padding-top: 20px;
    }

    .pq {
        font-size: 19px;
        text-align: center;
    }

    .hidden-v {
        display: none;
    }
    
    .container-3 {
       height: 100vh;
       width: 100%;
       grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "s s"
        "r r"
        "r r"
        "c c"
        "c c"
        "d d";
    }
    
     .services-h {
        grid-area: s;
        text-align:center;
        margin-top: 40px;
        padding: 0;

        
        
    } 
     .residential {
         grid-area: r;
         
     }
    
    .commercial {
        grid-area: c;
    }
    
    .design {
        grid-area: d;
    }
    
    .border {  
        background-color: rgb(224, 214, 211);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 5px 10px rgba(214, 198, 193, 0.5);
        padding: 0 20px;
        padding-top: 5px;
    }
    
    .cardy {
        transition: transform .5s;
    }
    
    .cardy:hover {
        transform: scale(1.1);
    }
    
    .icon-cont3 {
        font-size: 20px;
        padding-bottom: 10px;
        color: rgba(116, 145, 149, 0.5);
    }
    
    .container-3 h3 {
        color: white;
        font-size: 23px;
        font-weight: normal;
    }
    
    .container-3 p {
        font-size: 13px;
        margin: 0;
        padding: 0 5px;
    }
    
    .container-3 h2 {
        font-size: 50px;
        color: white;
        letter-spacing: 5px;
    }

    #serv .services {
        height: 10px;
    }

    .contact {
        height: 100vh;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "t t t t"
        "f f f f"
        "m m m m"
        ". . i ."
    }

    .iframey {
        width: 300;
        height: 225;
        z-index: 1000;
        padding: 0;
        margin-left: 30px;
        margin-top: 20px;
    }

    .contact-forms {
        margin-top: 30px;
        margin-left: 30px;
        grid-area: f;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;   
    }
    
    .icons {
        margin-top: -8px;
        font-size: 30px;
    }

    .contact-forms h2 {
        font-size: 30px;text-shadow: 2px 2px rgba(51, 167, 182, 0.5);
        padding-left: 30px;
        z-index: 0;
        background-color: rgb(206, 182, 182,);
        text-shadow: 2px 2px rgba(51, 167, 182, 0.5);
    }

    .btn-contact {
        text-decoration: none;  
        width: 10rem;
        padding-top: 5px;
        margin-top: 5px;
        border-radius: 20px;
        border: none;
        background-color: rgb(214, 198, 193);
        font-family: "Karla", sans-serif;
        font-size: 20px;
        color: white;
        align-self: flex-start;
        
    }
    
    .form-input {
        width: 300px;
        padding: 3px;
        margin: 4px;
        border-radius: 20px;
        font-family: 'Montserrat', sans-serif;
    }
}

@media only screen and (min-width: 361px) and (max-width: 800px) {   
  
    #carousel {
        background-size: cover;
        height: 39vh;
        overflow: hidden;
    }

    .anina-logo {
        margin-top: -100;
        margin-left: -280;  
    }

    body {
        padding: 0;
        margin: 0;
    }

    .about {
        height: 100vh;
        box-sizing: border-box;
    }

    .about h2 {
        padding-bottom: 0;
        padding-top: 20px;
    }

    #make {
        width: 65%;
        height:130%;
    }
    

    .container-1 {
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "h h h h"
        "h h h h"
        "p p p p"
        ". i i i"
        ". i i i"
        ". i i i";
     }
    
    #make1 {
       height: 90%;
       width: 60%;
       z-index: 0;
    }

    .title-1 {
        align-items: flex-end;
    }

    .h21 {
        padding-top: 40px;
        padding-bottom: 30px;
        text-align: left;
    }

    .p1 {
        padding-top: 30px;
        padding: 0 30px;
        font-size: 25px;
        margin-right: 50px;
        line-height: 40px;
        z-index: 400px;
    }

    .container-1 .h21 {
        font-size: 80px;
    }
    .container-2 {
        flex-direction: column;
        overflow: hidden;
    }

    .projects {
        height: 60vh;
    }

    .hidden-v {
        display: none;
    }
    .quote {
        height: 40vh;
    }
    .quote-text {
        font-size: 46px;
        margin: 0 15px;
        text-align: center;
    }
    .icon-edit{
        font-size: 60px;
        margin-bottom: 20px;
        padding-top: 70px;
        line-height: 10px;
    }

    .pq {
        font-size: 24px;
        text-align: center;
    }

    
    .container-3 {
        display: flex;
        flex-direction: column;
        }
    
    #serv {
        height: 100vh;
    }
    .border {  
        background-color: rgb(224, 214, 211);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 5px 10px rgba(214, 198, 193, 0.5);
        padding: 30px 20px;
        padding-top: 5px;
    }
    
    .cardy {
        transition: transform .5s;
    }
    
    .cardy:hover {
        transform: scale(1.4);
    }
    
    .icon-cont3 {
        font-size: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
        color: rgba(116, 145, 149, 0.5);
    }
    
    .container-3 h3 {
        color: white;
        font-size: 28px;
        font-weight: normal;
    }
    
    .container-3 p {
        font-size: 13px;
        margin: 0;
        padding: 0 5px;
    }
    
    .container-3 h2 {
        font-size: 50px;
        color: white;
        letter-spacing: 5px;
    }

    #serv .services {
        height: 40px;
    }

    .contact {
        grid-template-columns: repeat(5, 1fr);
       
        column-gap: 10px;
        grid-template-areas:
        ". t t t ."
        ". f f f ."
        ". m m m ."
        ". i i . .";
    }

    .iframey {
        width: 400;
        height: 400;
        z-index: 1000;
        padding: 0;
        margin-left: 30px;
        margin-top: 20px;
    }

    .contact-forms {
        margin-top: -10px;
        margin-left: 30px;
        grid-area: f;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;   
    }
    
    .icons {
        margin-top: -30px;
        font-size: 30px;
        margin-right: -10px;
        text-align: center;
    }

    .contact-forms h2 {
        font-size: 30px;
        text-shadow: 2px 2px rgba(51, 167, 182, 0.5);
        padding-left: 30px;
        z-index: 0;
        background-color: rgb(206, 182, 182,);
        text-shadow: 2px 2px rgba(51, 167, 182, 0.5);
    }

    .btn-contact {
        text-decoration: none;  
        width: 10rem;
        padding-top: 5px;
        margin-top: 5px;
        border-radius: 20px;
        border: none;
        background-color: rgb(214, 198, 193);
        font-family: "Karla", sans-serif;
        font-size: 20px;
        color: white;
        align-self: center;
        
    }
    
    .form-input {
        width: 400px;
        padding: 3px;
        margin: 4px;
        border-radius: 20px;
        font-family: 'Montserrat', sans-serif;
    }

    .footer {
        height: 30px;
        box-sizing: border-box;
    }
    
}



    

  /* .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 4px;;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 4em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    } */